.calculator-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.search-container{
  position: relative;
  width: 650px; 
  margin: auto;
  margin-top: 13vh;
}

.search-icon {
  position: absolute;
  left: 20px;
  top: 30%;
  transform: translateY(-50%);
  pointer-events: all;
  cursor: pointer;
  z-index: 2;
}


.search-input{
  width: 98.8%;
  height:72px;
  font-size: 24px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding-right: 10px; 
  text-align: right;
  box-sizing: border-box;
  padding-top: 30px;  
  margin-left: 5px;
  position: relative;
}


.buttons{
  width: auto;
  height: fit-content;
  gap: 10px;
  margin-top: 15px;
}

.button-inactive {
  color: #888;
}

.calc-inputs button{
  display: contents;
}

.calculator-container .Calc-inputs button {
  width: 85px;
  margin: 4px;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  border: 1px solid #dadce0; 
  background-color: #dadce0;
  cursor:pointer;
}

.calculator-container .Calc-inputs button.button-special {
  background-color: #f1f3f4; 
  border: 1px solid #f1f3f4;
}

.calculator-container .Calc-inputs button.button-equal {
  background-color: #4285f4; 
  border: 1px solid #4285f4;
  color: #fff;
}

.calculator-container .Calc-inputs button.InvActive {
  background-color: #f1f3f4; 
  border: 1px solid #f1f3f4;
}


.power-input-box {
  position: absolute;
  width: 2px;
  height: 2px;
  transform: translateX(-50%);
}

.history-box {
  position: absolute;
  top: 170px;
  left: 25%;
  width: 420px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  z-index: 1001;
  overflow: auto;
  max-height: 309px;
}

.history-icon{
  position: fixed;
  margin-top: 10px;
  color:#0b57d0;
  margin-left: 10px;
}

.history-line {
  width: 410px;
  height: 2px;
  background-color: #ebebeb;
  margin-top: 40px;
  position: fixed;
  margin-bottom: 20px;
}

.history-box ul {
  list-style-type: none;
  padding: 10px;
  margin-top: 40px;
}

.history-box li {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  padding: 10px;
  color: #1a73e8;
  border: 1px solid #ebebeb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}





