.calculator-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.search-container{
  position: relative;
  width: 500px; 
  margin: auto;
  margin-top: 13vh;
}

.search-icon {
  position: absolute;
  left: 15px;
  font-size: 20px;
  top: 40%;
  transform: translateY(-50%);
  pointer-events: none;
  cursor: pointer;
}

.search-input{
  width: 100%;
  height: 80px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 40px; 
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
}

.buttons{
  width: auto;
  height: fit-content;
  gap: 10px;
  margin-top: 20px;
}

.button-inactive {
  color: #888;
}

.calc-inputs button{
  display: contents;
}

.calculator-container .Calc-inputs button {
  width: 65px;
  margin: 4px;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
}

.power-input-box {
  position: absolute;
  width: 2px;
  height: 2px;
  transform: translateX(-50%);
}

.history-box {
  position: absolute;
  top: 150px;
  width: 300px;
  max-height: auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  z-index: 1000;
}

.history-box ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.history-box li {
  margin-bottom: 5px;
  font-size: 16px;
  padding: 10px;
}


